root = true

[*]
charset = utf-8
# end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2
tab_width = 2

[*.{vhd,vhdl}]
charset = latin1

[*.{adb,ads,gpr}]
indent_style = space
indent_size = 3

[*.py]
indent_style = space
indent_size = 4

[*.{ps1, psm1}]
indent_style = tab
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,ini}]
indent_style = tab
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.rst]
indent_style = space
indent_size = 3
