branches:
  except:
    - nightly

os: linux
dist: xenial
services: docker
language: minimal
install: skip
script: ./dist/ci-run.sh -c $TARGS

# For each linux build, a different job/instance (with the constraints
# above) is executed in parallel in stage 'test'.
env:
  matrix:
    - TASK=buster+mcode
    - TASK=buster+mcode
      TARGS="--gpl --no-synth"
    - TASK=ubuntu20+mcode
    - TASK=ubuntu20+llvm-5.0
    - TASK=fedora33+mcode
    - TASK=fedora33+llvm

deploy:
  - &dep
    provider: releases
    skip_cleanup: true
    api_key:
      secure: ji6LXOmD5V2N+ELHZr4oJsmxPhedk+8W6jfCqQdEbewQ42N+fKOq3lgqJni7ZdfpZaulB9OHPTApv3bwOjXjtN9rfBGmq//U9CwvzHmUeomdQv6WQOVevaWSXl3DNL9fk3yKynyFrsv4pvr45L8GIjaHLggKcYhNFPJ2rrnJlDoFT9MqQNpmP7Bg/LnwVQiv+ZDPkLlMWQzrXzLamdQILARPQka+kCdXl/sHH6OKvLgRvu9yvyXYSSfbyAHP+THISS5gDciizSBeWGlU75kgj/N+mkV+8NvtTTfEIgG8y49WJz6aBooTmRzk/jZW1dKMbDR6c5bpTmRvMZSzeSBuAR6WLhr6HevgCPi/1fX1y3pkVSrgBUF5KcxPgWCZp0I05QjaJOdvQDl1hH4TlVwpT18lM2+cWrui9fS7spnk/AuNKX882C5QWWRy28lIPasCVnwfeKX8a9KAwY9OqVOenoLC1yx7NJOGfH1bjuSYYxyR4XgLiGTHKALAuknCyD9QL0o378IwqxHMcsN0Gsd+GndMu0/b8GvSqfzDpV1XknqabQFwkZLs+Yydw0snfBUzXw9TfOk78IiPYEgXAxsQKBAkK7qvO36HIxLlSQXglXU1D4IDtQYDUel6vKll4pgu0WMxStQCbj51yDVJKvRhzwiBNC6Pwgzt2JTrpwM/T/U=
    file: "ghdl-*.tgz"
    file_glob: true
    on:
      repo: ghdl/ghdl
      all_branches: true
      tags: true

jobs:
  include:
    # One additional job is described in stage 'test' for the macos build.
    # The constraints above are used, except explicitly overriden.
    - &osx
      os: osx
      language: c
      osx_image: xcode10
      env: TASK=macosx+mcode
      cache:
        directories:
          - gnat
      install: ./dist/macosx/install-ada.sh
      before_script: PATH=$PWD/gnat/bin:$PATH
      addons:
        homebrew:
          packages:
            - p7zip
          update: true
    # Optionally, more macos jobs can be added. See list of available versions at https://docs.travis-ci.com/user/reference/osx/#macos-version
#   - <<: *osx
#     osx_image: xcode9.4
    - env: TASK="man"
      script: ./dist/man.sh
      deploy:
        - <<: *dep
          file: "doc/_build/man/ghdl.1"
