-r ../pyGHDL/requirements.txt

sphinx ~= 8.1
python-dateutil ~= 2.9

# Sphinx Extenstions
autoapi ~= 2.0
myst-parser ~= 4.0
sphinx_autodoc_typehints ~= 3.0

# Theme
furo

# BuildTheDocs Extensions (mostly patched Sphinx extensions)
#btd.sphinx.autoprogram>=0.1.7.post1
